footer {
    background-image: url('images/flowers-cross.png');
    background-size: contain;
    bottom: 0;
    height: 6em;
    left: 0;
    position: fixed;
    width: 100%;
    background-repeat: round;
}