@import './colours';

header {

  height: 4em;
  overflow: hidden;
  box-sizing: content-box;

  border-bottom: 4px solid $darkYellow;

  .game-name {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    h1 {
      margin: 0;
      z-index: 1;
    }
  }

  .user-name {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
  }

  svg {
    position: absolute;
    height: 4em;

    background: $yellow;
  }

  polygon {
    fill: $yellow;
    stroke-width: 1;
    stroke: #ffe72d;
  }

}
