@import './colours';

* {
  box-sizing: border-box;
  font-family: 'Indie Flower', 'Tahoma', 'Arial', sans-serif;
}

html, body, .container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $lightYellow;
}

.page {
  display: none;
  margin-top: calc(4em + 4px);
}
.page.active {
  display: block;
}

@import './chat';
@import './form-elements';
@import './header';
@import './footer';
@import './lists';
@import './page-front-porch';
@import './page-game';
@import './page-user-name';
@import './player-list';
