#game {

  div {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: calc(100vh - 4em - 4px);

    aside {
      padding: 1rem;
      border-right: 4px solid #ffe72d;
    }

    #canvas-wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      #canvas {
        background: #FFF;
      }
    }
  }

}
