#game {

  .grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    min-height: calc(100vh - 4em - 4px);

    aside {
      overflow-y: scroll;
      max-height: calc(100vh - 4em - 4px);
      padding: 1rem;
      border-right: 4px solid #ffe72d;

      .player-list {
        margin-top: 1.5em;
      }
      h2, p {
        margin-bottom: 20px;
      }
    }

    #canvas-wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      #canvas {
        background: #FFF;
      }
    }
  }

}
